.ninja_log
syllabus-pariksheet_nanda.aux
syllabus-pariksheet_nanda.bbl
syllabus-pariksheet_nanda.bcf
syllabus-pariksheet_nanda.blg
syllabus-pariksheet_nanda.log
syllabus-pariksheet_nanda.out
syllabus-pariksheet_nanda.pdf
syllabus-pariksheet_nanda.run.xml
